# macOS
.DS_Store

.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
**/logs


# terraform
*.tfstate
*.tfstate.*
**/.terraform
.terraform/
.terraform.lock.hcl
*.parquet

# personal
test.*